/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f5f5f6;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-yellow: #fff7d1;
  --color-orange: #f35f2c;
  --color-yellow: #f2d038;
  --color-black: #000000;
  --color-background: #212121;
  --color-subBackground: #121212;
  --color-contentBackground: #181818;
  --color-light-black: #313131;
  --color-backgroundTransparency: rgba(45, 45, 52, 0.5);

  /* Font size */
  --font-huge: 64px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 200ms;
}
