.logo {
  font-family: 'Inconsolata', monospace;
  line-height: 30px;
  letter-spacing: 0.5rem;
  display: flex;
  font-weight: 700;
  min-width: 15%;
  text-transform: uppercase;
  font-size: var(--font-regular);
}

.logo a {
  margin: auto;
  padding: 10px;
}

.logo a:hover {
  color: var(--color-orange);
}
