.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.project:hover .projcet__description {
  opacity: 0;
}

.project__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.projcet__description {
  position: absolute;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  transition: all var(--animation-duration) ease-in;
  border-radius: 50%;
}

.projcet__description h3 {
  padding: 0.5rem;
  font-weight: var(--weight-bold);
  margin: 0;
  white-space: pre-wrap;
}

.projcet__description span {
  margin-top: 10px;
  padding: 0.5rem;
  font-size: var(--font-small);
}

@media screen and (max-width: 768px) {
  .project {
    width: 160px;
    height: 160px;
  }

  .projcet__description span {
    font-size: var(--font-micro);
  }
}
