.title {
  width: 20em;
  height: 120px;
  line-height: 130px;
  border-bottom: 5px solid var(--color-dark-white);
  margin: auto;
}

.work > h2 {
  margin-top: 40px;
}

.work > p {
  font-family: 'Nanum Gothic Coding', monospace;
  color: var(--color-dark-white);
  font-weight: 100;
  line-height: 25px;
  margin: 20px 0 45px 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects h2 {
  width: 100%;
  margin: 20px 0 45px 0;
}

.projects > h2:after {
  content: '';
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -25px;
  margin-top: 15px;
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--color-white);
}

.projects > .backend {
  width: 220px;
  height: 220px;
}

.jobs {
  display: flex;
  flex-direction: column;
}

.job {
  text-align: center;
  display: flex;
  background-color: var(--color-backgroundTransparency);
  border-radius: 15px;
  padding: 25px 15px 25px 15px;
  justify-content: space-around;
}

.job > ul {
  line-height: 35px;
  text-align: left;
}

.job > ul > li {
  color: var(--color-dark-white);
  font-size: var(--font-micro);
}

.job > ul > li > span {
  color: var(--color-dark-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.jobImg {
  max-width: 110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 5%;
}

.job__logo {
  max-width: 100%;
  max-height: 100%;
}

.list {
  display: flex;
}

.period {
  font-weight: 300;
}

.company_container {
  flex: 0.4;
}

.company {
  font-size: 30px;
}

.info_container {
  flex: 0.6;
}

.info_list_container {
  text-align: left;
  margin-bottom: 70px;
}

.title_list_container > h3 {
  font-size: 30px;
}

.descript_title_container > h4 {
  color: var(--color-white);
  font-size: 20px;
  margin: 30px 0 15px 0;
}

.descript_title_container > p {
  font-size: 15px;
  font-weight: 300;
}

.experience > li {
  padding: 0;
  list-style: circle;
  color: white;
  margin-left: 1em;
}

.experience > li > p {
  font-size: 15px;
  font-weight: 300;
  margin: 3px 0;
}

.link > h4 {
  color: var(--color-white);
  font-size: 20px;
  margin: 30px 0 15px 0;
}

.link > li {
  padding: 0;
  list-style: circle;
  color: white;
  margin: 3px 1em;
}

.link > li > a {
  font-size: 15px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .title {
    width: 15em;
  }

  .job {
    flex-direction: column;
  }

  .job ul {
    line-height: 25px;
  }

  .jobImg {
    max-width: 80px;
    margin: 5px auto 10px auto;
  }
}
