.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.guide {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 15% 0 0;
}

.rocket {
  height: 30px;
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .logo {
    padding: 0;
    line-height: 25px;
  }

  .logo a {
    padding: 0;
  }

  .guide {
    display: none;
  }
}
