.navbar {
  position: sticky;
  width: 100%;
  height: 110px;
  display: flex;
  top: 0;
  z-index: 2;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  user-select: none;
}

.guide {
  min-width: 70%;
  margin-right: 15%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.guide > .rocket {
  height: 30px;
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 1024px) {
  .guide {
    flex-basis: 65%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
  }

  .logo {
    padding: 0;
    line-height: 25px;
  }

  .logo a {
    padding: 0;
  }

  .guide {
    display: none;
  }
}
