.title {
  width: 20em;
  height: 120px;
  line-height: 130px;
  border-bottom: 5px solid var(--color-dark-white);
  margin: auto;
}

.skills > h2 {
  margin-top: 40px;
}

.skills_about {
  margin: 30px 0 15px 0;
  color: var(--color-light-white);
  font-weight: 100;
  line-height: 25px;
  font-family: 'Nanum Gothic Coding', monospace;
}

.skills_li {
  color: var(--color-dark-white);
  font-family: 'Nanum Gothic Coding', monospace;
  margin: 0 0 6px 0;
  list-style: circle;
}

.skillset {
  background-color: var(--color-backgroundTransparency);
  border-radius: 15px;
  padding: 30px;
  display: flex;
}

.sub_title {
  margin: 15px 0 30px 0;
  font-weight: 700;
}

.left {
  flex-basis: 70%;
}

.right {
  flex-basis: 30%;
}

.tools__list li {
  padding: 0.8rem;
  color: var(--color-light-white);
}

@media screen and (max-width: 768px) {
  .title {
    width: 15em;
  }

  .skillset {
    padding: 15px;
    flex-direction: column;
  }

  .skills > p {
    margin: 25px 0;
  }

  .tools__list li {
    padding: 5px;
  }
}
